body {
  font-family: 'Work Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
}
hr {
  background-color: #05386b;
  height: 5px;
  width: 50%;
}
section {
  padding: 4rem 0;
  background-color: #ffffff;
  color: #0966c3;
  width: 100%;
}
.vector {
  margin-left: 40px;
}
#design-vector {
  height: 200px;
}
#develop-vector {
  height: 230px;
}
.vector-heading {
  margin-top: 50px;
}
.container p{
  font-weight: 500;
}
#info {
  margin: 0 auto;
  margin-top: 3%;
}
section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
  color: #05386b;
  padding-bottom: 4%;
}
section h3 {
  font-size: 1.5rem;
  color: #074d92;
  font-weight: 600;
}
.project-caption{
  font-size: 1.0rem;
  margin-top: 15px;
}
@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  background-color: #05386b;
  color: #fff;
}
.btn-xl:hover{
  background-color: #0859aa;
}
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  font-size: 18px;
}
.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: Montserrat;
  text-align: center;
  background-color: #5cdb95;
}
#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
  background-color: #5cdb95;
  margin: 0 auto;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #05386b;
  font-size: 23px;
  font-family: 'Work Sans', sans-serif;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  text-decoration-line: underline;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}
#mainNav .navbar-toggler:focus {
  outline: 0;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }

  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    text-decoration-line: underline;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active,
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus,
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    text-decoration-line: underline;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
  background-color: #5cdb95;
}
header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
  color: #05386b;
}
header.masthead h2 {
  font-size: 1.3rem;
  font-family: Lato;
  color: #05386b;
  padding-bottom: 10%;
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}
.portfolio {
  margin-bottom: -15px;
}
.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}
.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(24, 188, 156, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio
  .portfolio-item
  .portfolio-item-caption
  .portfolio-item-caption-content {
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: 0 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18bc9c;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}
.footer {
  padding-top: 1rem;
  background-color: #2C3E50;
  color: white;
}
.footer a {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
}
.copyright {
  background-color: #2C3E50;
  color: white;
}
.btn {
  border-width: 2px;
}
.bg-primary {
  background-color: #18bc9c !important;
}
.bg-secondary {
  background-color: #18bc9c !important;
}
.text-primary {
  color: #18bc9c !important;
}
.text-secondary {
  color: #05386b !important;
}
.btn-primary {
  background-color: #43d685;
  border-color: #43d685;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #128f76;
  border-color: #128f76;
}
.btn-secondary {
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #1a252f;
  border-color: #1a252f;
}
